<div class="container__big-card">
  <div class="big-card__picture">
    <img src="https://arquivo.devmedia.com.br/noticias/documentacao/documentacao_angular-cli-como-criar-artefatos-do-angular_38250.png"
     >
  </div>
  <div class="big-card__title">
    <h1><a href="#">Saiu a nova versão do Angular</a></h1>
  </div>
  <div class="big-card__description">
    <p>
      <a href="#">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Curabitur vel metus eu magna feugiat hendrerit sit amet nec massa.
      Aenean consequat eros sem, at consequat orci elementum eget.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Maecenas ac quam id sapien sodales sollicitudin. Praesent dolor dui,
      euismod a ipsum quis, posuere feugiat purus. Donec a condimentum eros.
      Nulla commodo ligula dapibus feugiat efficitur. Donec maximus est vel massa
      dapibus convallis. In vehicula nec lacus ut varius. Vivamus sed libero vitae
      augue blandit tempor. Cras et finibus ligula, a congue urna. Nam sit amet suscipit
      libero, ac aliquam leo.
      </a>
    </p>
  </div>
</div>
