.container__big-card {
  /* border: solid white 2px; */
  width: 500px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.big-card__picture > img {
  width: 100%;
  min-width: 495px;
  object-fit: cover;
}

.big-card__title > h1 {
  margin: 15px 0 10px 0;
  font-size: 30px;
  text-align: center;
}

.big-card__description{
  text-align: justify;
}

.big-card__description > p > a {
  font-size: 15px;
  color: grey;
}
