.container__small-card-principal {
  display: flex;
  flex-direction: column;
  border: solid 2px white;
}

.container__small-card {
  border: solid 2px white;
  width: 500px;
  height: 180px;
  margin: 0 0 15px 20px;
  display: flex;
  flex-direction: row;
}

.small-picture > img {
  width: 200px;
  height: 130px;
  margin: 10px;
}

.container__small-texts {
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.mini-title > p {
  font-size: 13px;
  margin-bottom: 10px;
  color: rgb(151, 149, 149);
}

.small-description > p > a {
  color: rgb(230, 220, 220);
}

.container__small-card-separator > hr {
  margin: 0 0 20px 20px;
  width: 500px;
  color: grey;
}
