<div class="container__small-card-principal">
  <div class="container__small-card">
    <div class="small-picture">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcStJbfPp2V0g4hq_6GP0m_D-ZjTxwLmAr2hUA&s"
      >
    </div>

    <div class="container__small-texts">
      <div class="mini-title">
        <p>Alguma Coisa</p>
      </div>
      <div class="small-description">
        <p>
          <a href="#">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Curabitur vel metus eu magna feugiat hendrerit sit amet nec massa.
          </a>
        </p>
      </div>
    </div>
  </div>
  <div class="container__small-card-separator">
    <hr>
  </div>
</div>
