<div class="container__small-card-principal" (click)="onCardClick()">
  <div class="container__small-card">
    <div class="small-picture">
      <img [src]="photoSmallCard" alt="Small card image">
    </div>
    <div class="container__small-texts">
      <div class="mini-title">
        <p>{{ titleSmallCard }}</p>
      </div>
      <div class="small-description">
        <p>
          <a href="#">
            {{ descriptionSmallCard }}
          </a>
        </p>
      </div>
    </div>
  </div>
  <div class="container__small-card-separator">
    <hr>
  </div>
</div>
