@media screen and (max-width: 390px) {
  .container__articles {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  header {
    display: flex;
    justify-content: center;
  }
}
