<app-menu-title></app-menu-title>
<button (click)="goForward()">GO FORWARD >> </button>
<div class="container__articles">
  <div class="articles__main">
    <app-big-card
      [photoCover]="selectedArticle.photoCover"
      [cardTitle]="selectedArticle.title"
      [cardDescription]="selectedArticle.description">
    </app-big-card>
  </div>
  <div class="articles__other">
    <app-small-card
      *ngFor="let article of articles"
      [photoSmallCard]="article.photoCover"
      [titleSmallCard]="article.title"
      [descriptionSmallCard]="article.description"
      (cardClick)="onCardClick(article)">
    </app-small-card>
  </div>
</div>
